<div>
  <button routerLink="add"
    class="bg-sky-600 hover:bg-sky-700 text-white font-bold p-2 rounded inline-flex">
    <span>Crear usuario</span>
  </button>

  <div class="shadow overflow-hidden rounded-md bg-white mt-4" *ngIf="paginationList">
    <div class="flex flex-col">
      <div class="overflow-x-auto -mx-8">
        <div class="align-middle inline-block min-w-full px-8">
          <div class="overflow-hidden border-b border-gray-200 rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50 uppercase text-xs font-medium text-gray-500 text-left">
                <tr>
                  <th scope="col" class="px-6 py-3">Id</th>
                  <th scope="col" class="px-6 py-3">Nombre</th>
                  <th scope="col" class="px-6 py-3">Email</th>
                  <th scope="col" class="px-6 py-3">Genero</th>
                  <th scope="col" class="px-6 py-3">Status</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let user of paginationList;"
                  [routerLink]="'edit/' + user?.id"
                  class="cursor-pointer">
                  <td class="px-6 py-3 whitespace-nowrap">
                    <div class="text-sm text-gray-900">
                      {{ user.id }}
                    </div>
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap">
                    {{ user.name }}
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                    {{ user.email }}
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                    {{ user.gender }}
                  </td>
                  <td class="px-6 py-3 whitespace-nowrap text-sm text-gray-500">
                    {{ user.status?.name}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center p-4 bg-gray-50"
    *ngIf="paginationList && users.length > paginationElements">
      <nav>
        <ul class="inline-flex -space-x-px">
          <li>
            <span class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 cursor-pointer"
              (click)="previous()">
              Anterior
            </span>
          </li>
          <li>
            <span class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 cursor-pointer"
              (click)="next()">
              Siguiente
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
